<div id="helpModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title">Help</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h4>User Information</h4>
        <hr>
        <ul>
          <li>
            <p>
              The <strong>"Home"</strong> option refreshes the application back to the same page.
            </p>
          </li>
          <li>
            <p>
              The <strong>"About"</strong> option gives the overview and the features of the application.
            </p>
          </li>
          <li>
            <p>
              The <strong>"User Id"</strong> at the right upper corner of the screen identifies the user logged in.
            </p>
          </li>
          <li>
            <p>
              The <strong>"Logout option"</strong> in the drop down menu of the user Id logs the user out of the application.
            </p>
          </li>
          <li>
            <p>
              The option <strong>"Viewing millennium_db"</strong> at the lower left corner gives the information regarding the database selected
              and also displays the list of other databases.
            </p>
          </li>
          <li>
            <p>
              The center portion in the home page gives the graphical representation of the visualization results.
            </p>
          </li>
          <li>
            <p>
              The menu option near the right corner of the home page gives the options to:
            </p>
            <ul>
              <li>
                <strong>Reset Visualization</strong>: Gives the visualization result that occurs during the application launch.
              </li>
              <li>
                <strong>Refresh from DB</strong>: Clears the server's database cache.
              </li>
              <li>
                <strong>List All Tables</strong>: Displays the result of all the tables present in the Millennium DB.
              </li>
              <li>
                <strong>Search Option</strong>: Enables you to search for the table name or column name and displays the visualization
                results based on the table selected.
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>