<!-- Displays the names of the database and the user of the database -->
<div id='database-info' class='float-left'>
  Viewing <select id='database-select'></select> as database user
  <span class='user-emphasis'> <%= database_username %></span>.
</div>
