<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <script type="text/javascript" src="js/bundle.js"></script>
  <style rel="stylesheet" type="text/css" src="vis.css"></style>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
